<!-- Begin Top Author Page
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8 col-md-offset-2">
			<div class="mainheading">
				<div class="row post-top-meta authorpage">
					<div class="col-md-10 col-xs-12">
						<h1>tinashe/africa</h1>
						<span class="author-description">An avid Blockchain enthusiast & one of the faces behind the DApp.Africa movement. I'm an Ethereum Blockchain Engineer working by day as a Software Developer out of Southern Africa. I like to research, tweet, teach & share knowledge on Blockchain & how it is changing Africa.
                            I have been developing software for the past 5 years for a wide range of sectors ranging from Telecommunications, Insurance, Retail & E-Commerce. I am currently concentrating my efforts towards Blockchain consulting, education & contributing to Open Source Software projects with a large focus on DeFi (Destributed Finance) &
                            Blockchain application. Interested in learning more around Blockchain, hiring me or just want to say hi? you can reach out to me on any of the following handles.</span>
							
						<a target="_blank" href="https://www.twitter.com/thetechrebel/" class="btn follow">Follow</a> <br/>
						<div class="sociallinks">
                            <a  target="_blank" href="https://www.twitter.com/thetechrebel/"><i class="fa fa-twitter"></i></a> 
                            <span class="dot"></span> 
                            <a target="_blank" href="https://www.linkedin.com/in/thetechrebel/"><i class="fa fa-linkedin"></i></a>
                            <span class="dot"></span> 
							<a target="_blank" href="https://www.github.com/thetechrebel/"><i class="fa fa-github"></i></a>
                        </div>
						<a href="https://stackoverflow.com/users/4698380/thetechrebel"><img src="https://stackoverflow.com/users/flair/4698380.png" width="208" height="58" alt="profile for theTechRebel at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for theTechRebel at Stack Overflow, Q&amp;A for professional and enthusiast programmers"></a>
						<br/>
                        <a target="_black" href="https://t.co/zrVvFKxaGS?amp=1/" class="btn follow">I Accept Bitcoin & Ethereum @ onegorilla.crypto</a>
					</div>
					<div class="col-md-2 col-xs-12">
						<img class="author-thumb" src="/assets/img/tinashe.jpg" alt="Sal">
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Top Author Meta
================================================== -->

<!-- Begin Twitter Timeline
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8 col-md-offset-2">
			<div class="mainheading">
				<div class="row post-top-meta authorpage">
<div class="container margtop3rem col-md-10">
    <a class="twitter-timeline" data-width="600" href="https://twitter.com/theTechRebel?ref_src=twsrc%5Etfw">Tweets by tinashe/africa</a>
</div>
</div>
</div>
</div>
</div>
</div>
    <!-- End Twitter Timeline
    ================================================== -->