  <!-- Begin Site Title
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-auto">
			<img src="/assets/img/homepage/analytics_guy.svg" alt="Analytics dude" height="250" width="250">
		</div>
		<div class="col">
			<div class="mainheading">
				<p class="lead">
					 Cataloging Blockchain in Africa.
				</p>
			</div>
		</div>
		</div>
<!-- End Site Title
================================================== -->

<!--<app-featured></app-featured>-->
<!--<app-recent></app-recent>-->
<app-showcase></app-showcase>
</div>